body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 50px 0;
}

#projects {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.project-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 30%;
    text-align: center;
}

.project-card:hover {
    transform: scale(1.05);
}
